<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>runTime.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>179A0EEB22A0CEFC00BD1930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>179A0F0322A0CF0000BD1930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>179A0F0E22A0CF0000BD1930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
